.main {
    position: absolute;
    top: 5%;
    left: 25%;
    background-color: transparent;
  }
  .inp {

    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    border-color: black;
    color: rgb(65, 65, 107);
    
  }

  .btn{
    border-radius: 50px;
    font-size: 16px;
    border-color: black;
    cursor: pointer;
    background-color:rgb(103, 103, 124); 
    color:#ffffff;

  }