.main {
  margin: 0; padding: 0;
  width: 100vw; min-height: 100vh;
  background-image: url('https://www.ecartelera.com/images/sets/29300/29365.jpg');
  background-size: cover;
  background-position-y: 0px;
  background-repeat: no-repeat;
  background-color:   #a2b1c1;
}

.landbtn {
  position: absolute;
  top: 2%;
  left: 5%;
  background-color:transparent;
  color: rgb(65, 65, 107);
  border-radius: 15px;
  border-color:black;
  cursor: pointer;
  font-size: 36px;
    
}


.createactbtn {
  position: absolute;
  top: 9%;
  left: 5%;
  background-color:transparent;
  color: rgb(65, 65, 107);
  border-radius: 15px;
  border-color:black;
  cursor: pointer;
  font-size: 36px;
    
}

.refreshbtn {
  position: absolute;
  top: 3%;
  left: 80%;
  background-color:transparent;
  color: black;
  border-radius: 15px;
  border-color:black;
  cursor: pointer;
  font-size: 16px;
    
}